[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest.git
[submodule "lib_TVector"]
	path = lib_TVector
	url = https://github.com/Dimusik52/TVector-library.git
